<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SkypeNotificationService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SkypeNotificationService.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SkypeNotificationService.Settings1>
      <setting name="Setting" serializeAs="String">
        <value>asdfasdfasdf</value>
      </setting>
    </SkypeNotificationService.Settings1>
  </userSettings>
  <applicationSettings>
    <SkypeNotificationService.AppSettings>
      <setting name="NotificationMessages" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Коллеги, проветрите, блин!!!</string>
            <string>Обнаружено опасное содержание углекислого газа</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Code" serializeAs="String">
        <value>954e31d7-6746-440e-b4ad-47ef8d5443c0</value>
      </setting>
      <setting name="SkypeChatTopics" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Офис</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="InitialMessagesCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MessagesIntervalInMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PollIntervalInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CO2WarningLevel" serializeAs="String">
        <value>900</value>
      </setting>
    </SkypeNotificationService.AppSettings>
  </applicationSettings>
</configuration>